:root {
    --violet: rgb(78, 43, 73);
    --orange: rgb(255, 91, 46);
    --sky: rgb(146, 211, 215);
    --white: rgb(250, 250, 250);
    --black: rgb(38, 38, 38);

    --font-weight: 500;

    --shadow: 0px 0px 10px 0px var(--white);
    --shadow-2: 0px 0px 10px 3px var(--white);
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* LOADER WRAPPER */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--violet);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* LOADER ANIMATION */
.loader {
    width: 60px;
    height: 60px;
    border: 6px solid var(--white);
    border-top: 6px solid var(--orange);
    border-radius: 50%;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.hero-section {
    height: 50vh;
    background:
        linear-gradient(rgba(59, 57, 59, 0.65), rgba(59, 57, 59, 0.95)),
        url("./stratergy.webp");
    background-size: cover;
    background-position: center;
    color: var(--white);
    position: relative;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--orange);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: var(--white);
    font-weight: var(--font-weight);
    transition: 0.3s;
}

.right-mobile {
    display: none;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    gap: 20px;
    list-style: none;
}

.right .talk {
    background-color: var(--orange);
    color: var(--white);
    text-decoration: none;
    width: 110px;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: var(--shadow);
    transition: box-shadow 0.3s ease;
}

.right .talk:hover {
    box-shadow: var(--shadow-2);
}

.right .talk a {
    text-decoration: none;
    color: var(--white);
    font-weight: var(--font-weight);
    transition: 0.3s;
    border-radius: 50px;
}

/* HAMBURGER */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: var(--white);
}

/* HERO */
.hero-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    padding: 12px 30px;
    background: var(--orange);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: var(--sky);
    color: var(--black);
}

/* MOBILE */
@media (max-width:768px) {

    .nav {
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        margin-top: 80px;
        width: 100%;
        background: var(--violet);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 0.4s ease-in-out;
        z-index: 999;
    }

    .nav-links {
        flex-direction: column;
        gap: 40px;
    }

    .right {
        display: none;
    }

    .right-mobile {
        display: flex !important;
        flex-direction: column;
        gap: 40px;
    }

    .right-mobile .talk {
        background-color: var(--orange);
        width: 110px;
        padding: 10px 20px;
        border-radius: 20px;
        text-align: center;
        box-shadow: var(--shadow);
        transition: box-shadow 0.3s ease;
    }

    .right-mobile .talk:hover {
        box-shadow: var(--shadow-2);
    }

    .nav.active {
        left: 0;
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        display: flex;
    }
}









.sec-hero-container {
    padding: 100px 20px;
    text-align: center;
    color: var(--white);
    overflow-x: hidden;
}


.sec-hero-container h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 700;
}

.breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;

}

.breadcrumb a {
    text-decoration: none;
    color: var(--sky);
    transition: 0.3s ease;
}

.breadcrumb a:hover {
    color: var(--orange);
}

.breadcrumb a.active {
    color: var(--white);
    font-weight: 600;
}

.breadcrumb .material-icons {
    font-size: 18px;
    color: var(--orange);
}


@media (max-width: 768px) {

    .sec-hero-container {
        padding: 70px 15px;
    }

    .sec-hero-container h1 {
        font-size: 30px;
    }

    .breadcrumb {
        font-size: 14px;
        flex-wrap: wrap;
    }

}









.contact-section {
    padding: 100px 10%;
    background: #f4f6f9;
}

.contact-container {
    display: flex;
    gap: 60px;
    align-items: center;
}

/* LEFT SIDE */
.contact-left {
    flex: 1;
    height: 500px;
    background: url('./contact.webp') center/cover no-repeat;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.contact-left .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(78, 43, 73, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-left h2 {
    color: var(--white);
    font-size: 42px;
    text-align: left;
    line-height: 1.2;
}

.contact-right {
    flex: 1;
}

.contact-right h2 {
    font-size: 32px;
    color: var(--black);
    margin-bottom: 15px;
}

.contact-right p {
    color: rgba(38, 38, 38, 0.7);
    margin-bottom: 30px;
    line-height: 1.6;
}

.contact-form {
    width: 100%;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    flex: 1;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 15px 45px 15px 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
}

.input-group textarea {
    height: 150px;
    resize: none;
}

.input-group i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--violet);
}

.input-group.textarea i {
    top: 20px;
    transform: none;
}

.contact-form button {
    margin-top: 20px;
    padding: 14px 30px;
    background: var(--violet);
    color: var(--white);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.contact-form button:hover {
    background: var(--orange);
}


@media (max-width:768px) {

    .contact-container {
        flex-direction: column;
    }

    .contact-left {
        width: 100%;
        height: 350px;
    }

    .form-row {
        flex-direction: column;
    }

}







.contact-info-section {
    padding: 100px 10%;
    background: var(--white);
    text-align: center;
    overflow-x: hidden;
}

.contact-info-container {
    max-width: 900px;
    margin: auto;
}

.contact-info-section h2 {
    font-size: 32px;
    color: var(--black);
    margin-bottom: 15px;
}

.info-desc {
    color: rgba(38, 38, 38, 0.7);
    margin-bottom: 50px;
}

.info-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.info-item {
    flex: 1;
    text-align: left;
    display: flex;
    gap: 15px;
}

.info-item i {
    font-size: 24px;
    color: var(--violet);
    margin-top: 5px;
}

.info-item h4 {
    margin-bottom: 5px;
    color: var(--black);
}

.info-item p {
    color: rgba(38, 38, 38, 0.7);
}

@media (max-width:768px) {

    .info-list {
        flex-direction: column;
        gap: 30px;
    }

    .info-item {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

}








.contact-map-section {
    padding: 100px 10%;
    background: #f4f6f9;
    text-align: center;
    overflow-x: hidden;
}

.map-container {
    width: 100%;
    height: 400px;
    margin-bottom: 60px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
}

/* CTA */
.contact-cta h2 {
    font-size: 32px;
    color: var(--black);
    margin-bottom: 15px;
}

.contact-cta p {
    color: rgba(38, 38, 38, 0.7);
    margin-bottom: 25px;
}

.cta-btn {
    display: inline-block;
    padding: 14px 30px;
    background: var(--violet);
    color: var(--white);
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s ease;
}

.cta-btn:hover {
    background: var(--orange);
}

@media (max-width:768px) {

    .contact-map-section {
        padding: 70px 20px;
    }

    .map-container {
        height: 300px;
    }

}









.footer {
    background: var(--violet);
    color: var(--white);
    padding-top: 100px;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    padding-bottom: 40px;
    height: fit-content;
}

.footer-col h3,
.footer-col h4 {
    color: var(--orange);
    margin-bottom: 20px;
}

.footer-col p {
    color: var(--sky);
    font-size: 14px;
    line-height: 1.6;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: var(--orange);
    padding-left: 5px;
}


.footer-bottom {
    background: var(--black);
    text-align: center;
    padding: 20px;
}

.footer-bottom p {
    color: var(--white);
    font-size: 14px;
}

.social-icons {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    border-radius: 8px;
    width: fit-content;
    padding-top: 20px;
}

.social-icons a {
    color: #fff;
    font-size: 22px;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: #ff5b2e;
    transform: translateY(-4px);
}


@media (max-width: 768px) {

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .social-icons {
        margin: 0 auto;
    }

}

@media (max-width: 480px) {

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-col ul li a:hover {
        padding-left: 0;
    }

}